@page
@inject ProjectManagerFactory factory
@using Akka.Actor
@using PurchaseForMe.Core
@using PurchaseForMe.Core.Project
@model ProjectsModel
@{
    var projectManager = factory();
}
<a asp-page="NewProject">
    <button class="btn btn-info" type="button">New Project</button>
</a>
<table class="table">
    <thead>
        <tr>
            <th class="table-dark">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProjectSummary project in (await projectManager.Ask<ProjectEnumerationMessage>(new GetAllProjectsMessage())).EnumeratedProjects)
        {
            <tr class="table-primary">
                <td><a asp-page="Project" asp-route-ProjectGuid="@project.ProjectGuid">@project.ProjectName</a></td>
            </tr>
        }
    </tbody>
</table>