@page
@model PurchaseForMe.Areas.Project.Pages.NewPipelineModel
@{
}

<form method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="PipelineName">Pipeline Name</label>
        <input class="form-control" type="text" asp-for="PipelineName" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PipelineCodeName">Pipeline Code Name</label>
        <input class="form-control" type="text" asp-for="PipelineCodeName" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create Task</button>
    </div>
</form>